header {
  display: flex;
  justify-content: flex-end;
  .addShopComponent {
    position: absolute;
    top: 10%;
    width: 400px;
    height: 400px;
    border: 1px solid;
    transform: translate(0, 10%);
    background: aqua;
    z-index: 1;
  }
}
.container {
  display: flex;
  //   justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.actions {
  display: flex;
  flex-direction: column;

  button:nth-child(1) {
    margin-bottom: 1rem;
  }
}
