header {
  display: flex;
  justify-content: flex-end;
  .addShopComponent {
    position: absolute;
    top: 10%;
    width: 300px;
    height: 400px;
    border: 1px solid;
    transform: translate(0, 10%);
    background: beige;
    z-index: 1;
    overflow-x: auto;
  }
}
.container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.actions {
  display: flex;
  flex-direction: column;

  button:nth-child(1) {
    margin-bottom: 1rem;
  }
}
