header {
  display: flex;
  justify-content: flex-end;
  background: antiquewhite;
  .addShopComponent {
    position: fixed;
    top: 0;
    width: 300px;
    height: 400px;
    border: 1px solid;
    transform: translate(0, 10%);
    background: beige;
    z-index: 1;
    overflow-x: auto;
    .layout_category {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 5px;
    }
    .bg_shop {
      display: flex;
      flex-direction: column;
      padding: 12px 0 0 0;
      border-bottom: 1px solid black;
      .change_at_shop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
    .bg_shop:hover {
      background: rgb(163, 162, 162);
      cursor: default;
    }
  }
  .byAllprice {
    position: absolute;
    bottom: unset;
    right: 32%;
  }
}
.container {
  display: flex;
  flex-direction: column;
    align-items: center;
  justify-content: center;
  margin: 5rem 0!important;
  flex-wrap: wrap;
  margin: 2rem 0;
  width: 100%
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 7rem;
}

.actions {
  display: flex;
  flex-direction: column;

  button:nth-child(1) {
    margin-bottom: 1rem;
  }
}
